name: Deploy GitHub Pages
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: mlugg/setup-zig@v2
        with: {version: "0.15.2"}
      - name: Build web interface
        run: zig build -Doptimize=ReleaseFast web
      - uses: actions/upload-pages-artifact@v4
        with: {path: ./zig-out/web}
  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: build
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
